@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap');


html
{
    font-family: 'New Tegomin', serif;
    text-align: center;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(152,235,41,0.5270483193277311) 35%, rgba(0,212,255,1) 100%);
}

